.bebasneue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h1{
    color: #872341;
    font-size: 100px;
}

p{
    color: black;
    text-transform: uppercase;
}

*{
    background-color: #F05941;
    text-align: center;
    
}

img {
    border: 10px solid #BE3144;
}





